<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Jadoo | FD Landing page</title>

		<!-- Google fonts -->
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Volkhov:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<!-- Style sheet -->
		<link rel="stylesheet" href="./css/style.min.css" />
	</head>
	<body>
		<img src="images/Decore.png" alt="" class="after" />
		<img src="images/Ellipse 8.png" alt="" class="before" />
		<!-- Hero section -->
		<div class="hero section">
			<!-- Navbar section -->
			<nav class="navbar">
				<div class="logo-wrapper">
					<img src="images/Logo.png" alt="" />
				</div>

				<div class="menu-wrapper">
					<ul class="nav">
						<li class="nav-item">
							<a href="#" class="nav-link">Destinations</a>
						</li>
						<li class="nav-item"><a href="#" class="nav-link">Hotels</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Flights</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Bookings</a></li>
					</ul>
				</div>

				<div class="nav-end">
					<ul class="buttons">
						<li class="nav-item">
							<a href="#" class="nav-btn login-btn">Login</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-btn signup-btn">Sign Up</a>
						</li>
					</ul>

					<form action="#" class="language-form">
						<select name="language" id="language">
							<option value="en">EN</option>
							<option value="bn">BN</option>
						</select>
					</form>
				</div>
			</nav>

			<!-- Hero content section -->
			<div class="hero-content">
				<div class="description">
					<img src="images/Decore 11.png" alt="" class="bg-img" />
					<p class="tag-line">Best Destinations around the world</p>
					<h2 class="heading">Travel, enjoy and live a new and full life</h2>
					<p class="desc">
						Built Wicket longer admire do barton vanity itself do in it.
						Preferred to sportsmen it engrossed listening. Park gate sell they
						west hard for the.
					</p>

					<div class="buttons">
						<button class="btn btn-more">Find Out More</button>
						<button class="btn btn-play">
							<img src="icon/Play button.png" alt="play btn" /> Play Demo
						</button>
					</div>
				</div>
				<div class="image">
					<img src="images/Image.png" alt="hero image" />
				</div>
			</div>
		</div>

		<!-- Service section -->
		<div class="service section">
			<!-- Section Heading -->
			<div class="sec-heading">
				<p class="tag-line">CATEGORY</p>
				<h2 class="heading">We Offer Best Services</h2>
			</div>

			<div class="bg-overlay"></div>

			<div class="categories">
				<div class="card">
					<img src="icon/Group 48.svg" alt="" class="card-img" />
					<h4 class="card-title">Calculated Weather</h4>
					<p class="card-desc">
						Built Wicket longer admire do barton vanity itself do in it.
					</p>
				</div>
				<div class="card">
					<img src="icon/Group 51.svg" alt="" class="card-img" />
					<h4 class="card-title">Best Flights</h4>
					<p class="card-desc">
						Engrossed listening. Park gate sell they west hard for the.
					</p>
				</div>
				<div class="card">
					<img src="icon/Group 50.svg" alt="" class="card-img" />
					<h4 class="card-title">Local Events</h4>
					<p class="card-desc">
						Barton vanity itself do in it. Preferd to men it engrossed
						listening.
					</p>
				</div>
				<div class="card">
					<img src="icon/Group 49.svg" alt="" class="card-img" />
					<h4 class="card-title">Customization</h4>
					<p class="card-desc">
						We deliver outsourced aviation services for military customers
					</p>
				</div>
			</div>
		</div>

		<!-- Destination Section -->
		<div class="destination section">
			<!-- Section Heading -->
			<div class="sec-heading">
				<p class="tag-line">Top Selling</p>
				<h2 class="heading">Top Destinations</h2>
			</div>

			<div class="destinations">
				<div class="card">
					<img
						src="images/Rectangle 14-1.png"
						alt="Destination image"
						class="card-img"
					/>
					<div class="card-body">
						<div class="card-info">
							<p class="location">Rome, Italy</p>
							<p class="price">$5.42K</p>
						</div>
						<div class="card-footer">
							<div class="day">
								<img src="icon/navigation 1.svg" alt="" /> 10 Days Trip
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<img
						src="images/Rectangle 14-2.png"
						alt="Destination image"
						class="card-img"
					/>
					<div class="card-body">
						<div class="card-info">
							<p class="location">London, UK</p>
							<p class="price">$4.2K</p>
						</div>
						<div class="card-footer">
							<div class="day">
								<img src="icon/navigation 1.svg" alt="" /> 12 Days Trip
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<img
						src="images/Rectangle 14.png"
						alt="Destination image"
						class="card-img"
					/>
					<div class="card-body">
						<div class="card-info">
							<p class="location">Full Europe</p>
							<p class="price">$15K</p>
						</div>
						<div class="card-footer">
							<div class="day">
								<img src="icon/navigation 1.svg" alt="" /> 28 Days Trip
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Booking secton -->
		<div class="booking section">
			<div class="booking-todo">
				<!-- Section Heading -->
				<div class="sec-heading">
					<p class="tag-line">Easy and Fast</p>
					<h2 class="heading">Book your next trip in 3 easy steps</h2>
				</div>

				<div class="todo-list">
					<div class="todo">
						<div class="todo-img">
							<img src="icon/Group 7.svg" alt="" />
						</div>
						<div class="todo-info">
							<h5>Choose Destination</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur <br />
								adipiscing elit. Urna, tortor tempus.
							</p>
						</div>
					</div>
					<div class="todo">
						<div class="todo-img">
							<img src="icon/Group 12.svg" alt="" />
						</div>
						<div class="todo-info">
							<h5>Make Payment</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur <br />
								adipiscing elit. Urna, tortor tempus.
							</p>
						</div>
					</div>
					<div class="todo">
						<div class="todo-img">
							<img src="icon/Group 11.svg" alt="" />
						</div>
						<div class="todo-info">
							<h5>Reach Airport on Selected Date</h5>
							<p>
								Lorem ipsum dolor sit amet, consectetur <br />
								adipiscing elit. Urna, tortor tempus.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="booking-info">
				<div class="card">
					<img src="images/Rectangle 17.jpg" alt="" class="card-img" />
					<h2 class="card-title">Trip To Greece</h2>
					<p class="info">
						<span class="date">14-29 June</span> | by
						<span class="guide">Robin Roy</span>
					</p>
					<div class="icons">
						<img src="icon/LEAF.svg" alt="" />
						<img src="icon/map 1.svg" alt="" />
						<img src="icon/send 2.svg" alt="" />
					</div>
					<div class="card-footer">
						<div class="info">
							<img src="icon/Group-22.png" alt="" />
							24 people going
						</div>
						<div class="icon">
							<img src="icon/Group.svg" alt="" />
						</div>
					</div>
					<div class="overlay-card">
						<img src="images/image 32.png" alt="" />
						<div class="info">
							<p class="tag-line">Ongoing</p>
							<h5>Trip to rome</h5>
							<p class="status"><span>40%</span> complete</p>

							<div class="progress-bar">
								<div class="complete"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Testimonials Section -->
		<div class="testimonial section">
			<div class="testi-nav">
				<!-- Section Heading -->
				<div class="sec-heading">
					<p class="tag-line">TESTIMONIALS</p>
					<h2 class="heading">What people say about Us.</h2>
				</div>

				<div class="dots">
					<div class="dot active"></div>
					<div class="dot"></div>
					<div class="dot"></div>
				</div>
			</div>

			<div class="testimonials">
				<div class="card">
					<img src="images/Image 111.png" alt="avatar" class="card-img" />
					<p class="opinion">
						“On the Windows talking painted pasture yet its express parties use.
						Sure last upon he same as knew next. Of believed or diverted no.”
					</p>

					<div class="reviewer-info">
						<h4 class="name">Mike Taylor</h4>
						<p class="location">Lahore, Pakistan</p>
					</div>
				</div>
			</div>

			<div class="buttons">
				<button class="prev">
					<img src="icon/Vector 1.svg" alt="" />
				</button>
				<button class="next">
					<img src="icon/Vector 1.svg" alt="" />
				</button>
			</div>
		</div>

		<!-- Logo Section -->
		<div class="logo-sec section">
			<img src="images/image 27.png" alt="" class="logo" />
			<img src="images/image 28.png" alt="" class="logo" />
			<img src="images/image 31.png" alt="" class="logo" />
			<img src="images/image 30.png" alt="" class="logo" />
			<img src="images/image 31.png" alt="" class="logo" />
		</div>

		<!-- Subscribe section -->
		<div class="subscribe section">
			<img src="images/Group_78.png" alt="" class="bg-overlay" />
			<img src="icon/Group 77.svg" alt="" class="s-after" />
			<h2 class="subs-heading">
				Subscribe to get information, latest news and other <br />
				interesting offers about Cobham
			</h2>

			<form action="#" class="subs-form">
				<div class="input-group">
					<div class="input-group-append">
						<img src="icon/Vector 1.svg" alt="" />
					</div>
					<input type="email" class="email" placeholder="Your Email" />
				</div>
				<button type="submit" class="btn">Subscribe</button>
			</form>
		</div>

		<!-- Footer section -->
		<footer class="footer section">
			<div class="footer-top">
				<div class="footer-logo">
					<img src="images/Jadoo..png" alt="logo" />
					<p>Book your trip in minute, get full Control for much longer.</p>
				</div>

				<div class="footer-navs">
					<div class="nav">
						<div class="nav-title">Company</div>
						<ul class="fn-menu">
							<li class="menu-item"><a href="#" class="menu-link">About</a></li>
							<li class="menu-item">
								<a href="#" class="menu-link">Career</a>
							</li>
							<li class="menu-item">
								<a href="#" class="menu-link">Mobile</a>
							</li>
						</ul>
					</div>
					<div class="nav">
						<div class="nav-title">Contact</div>
						<ul class="fn-menu">
							<li class="menu-item"><a href="#" class="menu-link">About</a></li>
							<li class="menu-item">
								<a href="#" class="menu-link">Career</a>
							</li>
							<li class="menu-item">
								<a href="#" class="menu-link">Mobile</a>
							</li>
						</ul>
					</div>
					<div class="nav">
						<div class="nav-title">More</div>
						<ul class="fn-menu">
							<li class="menu-item"><a href="#" class="menu-link">About</a></li>
							<li class="menu-item">
								<a href="#" class="menu-link">Career</a>
							</li>
							<li class="menu-item">
								<a href="#" class="menu-link">Mobile</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="footer-social">
					<ul class="social-menu">
						<li class="menu-item">
							<a href="#" class="menu-link">
								<img src="icon/Social-1.svg" alt="" />
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="menu-link">
								<img src="icon/Social3.png" alt="" />
							</a>
						</li>
						<li class="menu-item">
							<a href="#" class="menu-link">
								<img src="icon/Social.svg" alt="" />
							</a>
						</li>
					</ul>
					<h5>Discover out app</h5>
					<div class="app-icons">
						<a href="#"><img src="icon/Google Play.svg" alt="" /></a>
						<a href="#"><img src="icon/Play Store.png" alt="" /></a>
					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<p>All rights reserved@jadoo.co</p>
			</div>
		</footer>

		<script></script>
	</body>
</html>
