.destinations {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	.card-img {
		width: 100%;
	}
	.card {
		width: 300px;
		position: relative;
		box-shadow: 0 30px 30px rgb(0 0 0 / 10%);
		border-radius: 30px;
		margin-bottom: 20px;
		.card-body {
			position: absolute;
			bottom: 0px;
			left: 0;
			right: 0;
			color: #5e6282;
			padding: 20px;
			.card-info {
				display: flex;
				justify-content: space-between;
				margin-bottom: 15px;
				font-size: 18;
				font-weight: 500;
			}
			.card-footer {
				img {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
